#!/bin/sh

if [ $(command -v gnome-keyring-daemon 2>/dev/null) ];then
    eval "$(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)"
    export SSH_AUTH_SOCK
fi

case "$DISTRO" in
    gentoo)
        [ -f /usr/bin/x11-ssh-askpass ] &&
            export SSH_ASKPASS=/usr/bin/x11-ssh-askpass &&
            export SUDO_ASKPASS=/usr/bin/x11-ssh-askpass
        ;;
    arch)
        [ -f "${HOME}"/.local/bin/ssh-askpass ] &&
            export SSH_ASKPASS=ssh-askpass &&
            export SUDO_ASKPASS="${HOME}"/.local/bin/ssh-askpass
        ;;
    FreeBSD)
        [ -f /usr/local/bin/x11-ssh-askpass  ] &&
            export SSH_ASKPASS=/usr/local/bin/x11-ssh-askpass &&
            export SUDO_ASKPASS=/usr/local/bin/x11-ssh-askpass
        ;;
esac

# polkit
case $DISTRO in
    gentoo)
        if [ ! $(pgrep -x polkit-gnome-authentication-agent-1) ];then
            sleep 1 && /usr/libexec/polkit-gnome-authentication-agent-1 &
        fi
        ;;
    arch)
        if [ ! $(pgrep -x polkit-gnome-authentication-agent-1) ];then
            sleep 1 && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
        fi
        ;;
    FreeBSD)
        if [ ! $(pgrep -x polkit-gnome-authentication-agent-1) ];then
            sleep 1 && /usr/local/libexec/polkit-gnome-authentication-agent-1 &
        fi
        ;;
esac

# Apply urxvt settings
xrdb -merge ~/.Xresources &

# wallpaper
~/.local/bin/setwallpaper &

# emacs server
emacs --daemon &

# sxhkd
sxhkd -c "${XDG_CONFIG_HOME}/sxhkd/sxhkdrc-${_WM}" &
